@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Sansita:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
    font-family: Sansita;
    font-size: 16px;
    color: #0f0f0f;
}

/** navbar **/

.my-navbar {
    background: rgba(240, 248, 255, 0.4);
    padding: 15px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(16, 32, 75, 0.5);
}

.my-navbar a {
    color: #0f0f0f;
}

.my-navbar ul>li.active > a {
    background: #2a52be;
    color: #efefef;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.48);
}

.my-navbar ul>li>a:hover {
    background: #456cd6;
    color: #efefef;
}

.navbar-brand {
    font-size: 30px;
    font-family: Pacifico;
    text-shadow: 0px 2px 1px rgba(16, 32, 75, 0.48);
}

/** home section **/
.home {
    background: url('../img/home-bg.jpg');
    height: 700px;
    line-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.presentation {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.presentation h1 {
    color: #0f0f0f;
    font-size: 4em;
}

.presentation mark {
    background: none;
    font-size: 1em;
    color: #2a52be;
    font-family: Pacifico;
    text-shadow: 0px 2px 1px rgba(16, 32, 75, 0.48);
}

.presentation h2 {
    color: #262626;
    font-size: 2.5em;
}

.btn-blue {
    background: #ff033e;
    color: #efefef;
    text-shadow: 0px 2px 1px rgba(16, 32, 75, 0.48);
    border-radius: 30px;
    padding: 10px 60px 15px 60px;
    font-size: 18px;
}

.btn-blue:hover {
    background: #2a52be;
    color: #efefef;
}

/** about section **/
.about {
    background: #2a52be;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about h1 {
    color: #efefef;
    font-size: 4em;
    margin-bottom: 50px;
}

.about p {
    color: #f2f3f4;
    font-size: 18px;
}

.social-links {
    margin-top: 30px;
}

.fa-circle {
    color: rgba(240, 248, 255, 0.5);
}

.fa-inverse {
    color: #2a52be;
}

.social-links a:hover .fa-circle {
    color: #ff033e;
}

.social-links a:hover .fa-inverse {
    color: #efefef;
}

/** skills section **/
.skills {
    background: none;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skills h1 {
    font-size: 4em;
    margin-bottom: 50px;
}

.progress {
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    text-align: right;
    background: rgba(255, 3, 62, 0.3);
}

.progress-bar {
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 18px;
    text-align: left;
    padding-left: 15px;
    background: #2a52be;
}
